.nuxt-content{
  width: 80%;
  margin: 0 auto;
  padding:30px 0 30px 0;
}
.nuxt-content h1{
  color: #94682A;
  font-weight: 900;
  font-size:28px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.nuxt-content ul{
  padding-right: 10px;
}
.nuxt-content ul li{
  list-style: disc;
}
ul li::marker {
  color: #94682A;
}