@media (max-width:1100px){
  #Content div h1{
    margin-bottom: 50px;
  }
  .cards {
    display: block;
  }
  .card{
    margin-top: 20px;
  }
  .more{
    margin-top:60px;
  }
}
@media (max-width:800px){
  .all-media div {
      flex-direction: column;
    }
  
    .all-media div div {
      order: 1;
    }
  
    .all-media div div h1 {
      font-size: 42px;
      text-align: center;
    }
  
    .all-media div div p {
      text-align: center;
      font-size: 20px;
    }
  
    .all-media div img {
      order: -1;
      margin-bottom: 20px;
      width: 124px;
    }
    .all-media div div a{
      width:280px;
    }
    .all-media div div a:hover {
      background-color: transparent;
      border: 2px solid #fff;
    }
    .list-articles{
      padding:30px 0 30px 0;
    }
    .list-articles h1{
      text-align: center;
    }
    .aside{
      height: 78vh;
    }
    #What-Ghayth div h1, #Content div h1{
      font-size: 40px;
    }
    #What-Ghayth div p{
      font-size: 18px;
    }
    #Content{
      height: auto;
    }
    #Content button{
      margin-top: 0;
    }
}